.carosel{
   max-height: 500px;
   max-width: 1450px;
   min-width: 340px;
   padding: 20px;
   z-index: 2;
   margin:10px 10px 5px 5px;
   border-radius: 30px;
}
.carosel img{
  
  height: 500px;
  border-radius: 20px;
}

/* @media(min-width:480px)and (max-width:568px) {
  .carosel{
    margin:5px ;
    
    padding: 5px;
    margin-left: 0px;
   
  }
  .items{
    width:55vh;
     
  }

  .reviews{
    width:55vh;
  }
  .upcoming-products{
    width:55vh;
  }
  .footer{
    width:60vh;
  }
  
} */
