/* .carosel{
  z-index: 2;
   padding:2px;
   margin:10px 5px 1px 5px;
   border-radius: 20px;
} */
/* .carosel img{
  
  height: 500px;
  border-radius: 20px;
}

@media (max-width:350px) {

  .carosel{
   
  }
  .carosel img{
    height: 220px;
    width: 250px;
  }
} */


@media(max-width :320px) {
  .buy{
    width:280px ;
  }

} 
/* @media(max-width :780px) {
  .buy{
    width:400px ;
  }

} */

/* @media(min-width:650px) {
  .carosel{
     padding:10px;
   margin:10px 5px 1px 5px;
   border-radius: 20px;
   margin:o auto 
    min-width: 345px;
    max-width: 650px;
    max-height:400px ;
   margin-left: 0px;
   margin-right:0px;
   margin-bottom: 10px;
  padding:0px;
  
  }
  .carosel img{
   width: 345px;
    max-width: 650px;
    max-height: 350px;
  }
  
} */
